@import "./variables.scss";
@import "./mixins.scss";

@font-face {
    font-family: Pumpkin;
    src: url('./../fonts/Pumpkin\ Halloween\ St.ttf');
}

@font-face {
    font-family: Haloweb;
    src: url('./../fonts/Halloweb.otf');
}

@font-face {
    font-family: Zombie;
    src: url('./../fonts/Zombie_Holocaust.ttf')
}

* {}

body {
    margin: 0;
    padding: 0;
    background: url(./../img/halloweenBG.jpg) 100% 100% no-repeat;
    background-attachment: fixed;
    background-position: top center;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;

}

header {
    margin-bottom: -15px;

    * {
        color: black;
    }

    .container {
        background: transparent;
        padding-bottom: 30px;
    }
}

.container {
    // border: dashed black 1px;
    margin: 0 auto;
    max-width: 1000px;
    background: rgba($color: white, $alpha: 0.9);

    nav {
        @include grid(row);
        padding: 0 30px;
    }
}

.inContainer {
    margin: 0 auto;
    max-width: 900px;
    padding-bottom: 50px;
    ;
}

.logo {
    position: relative;
    padding-top: 5px;
    align-items: center;
    height: 76px;
    margin-bottom: 15px;
    @include grid(column);
    text-align: center;
    font-size: 2.4em;
    cursor: pointer;
    font-family: Haloweb;
    padding-bottom: 10px;


    h1 {
        margin: 0;
    }


    span {
        margin-top: 10px;
        letter-spacing: 1px;
        font-size: 1.2em;
        font-weight: bold;
        font-family: Pumpkin, 'Creepster';
        color: #872c1c;
    }
}



.search {
    border: solid 2px rgba($color: #000000, $alpha: 0.6);
    box-shadow: 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    padding: 15px;
    border-radius: 10px;

    &:focus {
        outline: none;
        box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    }
}

.popular {
    padding-top: 30px;
}

.popGrid {
    width: 100%;
}

#popularGrid {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 4px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;

    >div {
        margin-bottom: 10px;
        height: 300px;


        &:hover {}

        img {
            height: 100%;
            width: 100%;
        }
    }
}

h2 {
    font-size: 1.4em;
    margin-left: 20px;
}

.readMore {
    color: orange;
    font-style: italic;
    cursor: pointer;
}

footer {
    background: black;

    * {
        color: white;
    }
}

footer .container {
    @include grid(column);
    padding: 20px;
    font-size: 1.2em;
    color: white;
    background: transparent;

    .rights {
        text-align: end;
    }

    #links {
        font-size: 1.3em;

        a:hover {
            * {
                color: coral;
            }
        }
    }



}

.mangaTop {
    margin-top: 20px;
    padding-top: 10px;
}

#mangaPage {
    margin-top: 15px;

    .description {
        @include grid(column);
        grid-template-columns: 20px 1fr 2fr;
        grid-gap: 10px;

    }

    .poster {
        padding: 10px;

        img {
            width: 100%;
        }

    }



    .info {
        position: relative;
        margin-left: 50px;

        h2 {
            margin-left: 0;
        }


        .readBtn {
            background-color: sandybrown;
            text-align: center;
            padding: 5px;
            width: 30%;
            border-radius: 20px;
            margin-bottom: 10px;
        }



    }

    .about {
        position: relative;
        margin: 0 10px;
        padding-bottom: 10px;
    }
}

.news {
    margin-top: -19px;
    margin-bottom: 25px;

    .newsBlock {
        display: grid;
        box-sizing: content-box;
        grid-auto-flow: column;
        grid-gap: 5px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);


        >div {
            padding: 3px;
            border: solid 5px rgba($color: silver, $alpha: 0.5);

            img {
                width: 100%;
            }

            &:hover {
                background: rgba($color: white, $alpha: 1);
                color: #457dd1;
                cursor: pointer;
                border: solid 5px rgba($color: #457dd1, $alpha: 0.5);
            }
        }
    }

    .newType {
        font-size: 1.2em;
        margin-left: 10px;
        text-transform: uppercase;
    }

    .newTitle {
        text-transform: uppercase;
        padding: 0 4px;
    }

    .newDateAuthor {
        font-size: 0.8em;
        color: black;

        a {
            color: orange;

            &:hover {
                color: #d96464;
            }
        }
    }

    .shareIn {
        color: black;
        list-style: none;

        li {
            float: left;
            margin-right: 4px;
        }

    }
}

.witch1 {
    position: absolute;
    top: 20px;
    right: 0px;
    width: 200px;

}

.modal {
    /* Не обязательно  block */
    display: block;
    overflow: hidden;

    width: 600px;
    max-width: 100%;

    height: 400px;
    max-height: 100%;

    position: fixed;

    z-index: 100;

    left: 50%;
    top: 50%;

    /* Центруем */
    transform: translate(-50%, -50%);
    

    color: #FF6201;
    background: transparent;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}

.closed {
    display: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;

    background: url('./../img/modalBG.jpg');
}

.modal-guts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 50px 20px 20px;
    // transform: rotate(10deg);

    h1 {
        position: absolute;
        font-family: Zombie;
        width: 100%;
        font-size: 4em;
        bottom: 40px;
        left: 10px;
        z-index: 99;
        transform: rotate(20deg);
    }

    .uraraChan {
        position: absolute;
        right: 55px;
        transform: rotate(0deg);
        bottom: 0px;
        height: 400px;
    }

    .modalWitch {
        position: absolute;
        
        left: 15px;
        top: 50px;
        width: 300px;
    }
}

.modal .close-button {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 20px;

    border: 0;
    color: black;
    padding: 5px 10px;
    font-size: 1.3rem;
}

.open-button {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    
}